.profile-icon{
    width: 100px;
    height: 100px;
    border: 2px solid var(--ion-border-color);
    border-radius: 50%;
}


.border-bottom{
    border-bottom: 1px solid var(--ion-border-color);
}

.hidden-border .border-bottom:last-child{
    border: none !important;
}


.fa-house-blank{
    color: var(--ion-success-color);
}