<ion-header [translucent]="true" class="dashboard-header">
  <ion-toolbar class="ion-padding">
    <div class="ion-display-flex align-center justify-between gap-0-25">
      <div class="ion-display-flex align-center gap-1">

        <div class="profile-icon header-icon" (click)="profileSelected()">
          @if(selectedAvatar && selectedAvatar != 'none'){
            <img [src]="'assets/icon/avatar/' + selectedAvatar + '.svg'">
          }@else{
          <i class="fa-light fs-9 fa-circle-user"></i>}
        </div>
        <div class="ion-display-flex flex-column">
          <div class="fs-1">Hello,</div>
          <div class="fs-5 pb-0-25">{{userName}}</div>
          <div  class="fs-2 ion-display-flex gap-0-5 align-center">{{siteId}}</div>
        </div>
      </div>
      <div class="notification-icon">
        <i class="fa-light fa-bell"></i>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-display-flex flex-column gap-2">
    <section class="ion-display-flex gap-1 flex-column">
      <div class="fs-3">Today's schedules</div>
      <div class="ion-display-flex flex-column gap-1" *ngIf="showSkeletons">
        <section class="loading-section" *ngFor="let loader of loaders; let i = index">
          <ion-skeleton-text [animated]="true" class="profile"></ion-skeleton-text>
          <div class="text-group">
            <ion-skeleton-text [animated]="true" class="type"></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" class="date"></ion-skeleton-text>
          </div>
        </section>
      </div>
    </section>
    <section class="ion-display-flex gap-1 flex-column">
      <div class="fs-3">Quick stats</div>
      <section class="ion-display-flex gap-1 flex-column">
        <div class="ion-display-flex gap-1 w-100">
          <div class="ion-display-flex flex-column gap-0-5 w-50 ion-padding background-stats">
            @if(showCountsSkeletons){
            <ion-skeleton-text [animated]="true" class="appontments"></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" class="appontments w-50"></ion-skeleton-text>}
            @else{
            <div>Task</div>
            <div class="fs-6">{{appointmentCounts.data.task.totalTasks}}</div>
            }

          </div>
          <div class="ion-display-flex flex-column gap-0-25 w-50 ion-padding background-stats">
            @if(showCountsSkeletons){
            <ion-skeleton-text [animated]="true" class="revenue"></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" class="revenue w-50"></ion-skeleton-text>}
            @else{
            <div>Appointments</div>
            <div class="fs-6">{{appointmentCounts.data.appointments.totalAppointments}}</div>
            }
          </div>
        </div>
        <div class="ion-display-flex flex-column gap-0-5 ion-padding background-stats">
          @if(showCountsSkeletons){
          <ion-skeleton-text [animated]="true" class="patient-satisfaction"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" class="patient-satisfaction w-50"></ion-skeleton-text>}
          @else{
          <div>Today appointments</div>
          <div class="fs-6">{{appointmentCounts.data.todayAppointments.todayAppointments}}</div>
          }
        </div>
      </section>
    </section>
    <section class="ion-display-flex gap-1 flex-column">
      <div class="fs-3">Patients</div>
      <section class="ion-display-flex flex-column gap-1">
        <div class="ion-display-flex align-center gap-1" (click)="patientInfo()">
          <div class="background-patient"><i class="fa-light fa-user"></i></div>
          <div class="flex-1">Patients</div>
          <div><i class="fa-light fa-chevron-right"></i></div>
        </div>
        <div class="ion-display-flex align-center gap-1" (click)="addPatient()">
          <div class="background-patient"><i class="fa-light fa-user-plus"></i></div>
          <div class="flex-1">Add patient</div>
          <div><i class="fa-light fa-chevron-right"></i></div>
        </div>
      </section>
    </section>
  </div>



  <ion-modal #avatarSelectedModal (willDismiss)="onWillDismiss()" [initialBreakpoint]="0.7">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <div class="ion-display-flex align-center gap-0-75 fs-4">
            <div class="flex-1">Select avatar</div>
            <i class="fa-thin fa-xmark" (click)="avatarSelectedModal.dismiss()"></i>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="ion-display-flex flex-wrap gap-2">
          <div class="background-avatar position-relative w-25 ion-display-flex align-center justify-center" [ngClass]="selectedAvatar === 'none' ? 'active':''" (click)="avatarSelected('none')">
            <i class="fa-light fa-user fs-50"></i>
            <i class="fa-solid fa-circle-check"></i>
          </div>
          @for(avatarImg of avatar; track $index){

          <div class="background-avatar w-25 h-25 position-relative" (click)="avatarSelected(avatarImg.title)" [ngClass]="selectedAvatar === avatarImg.title ? 'active':''">
            <img [src]="'assets/icon/avatar/' + avatarImg.title + '.svg'">
            <i class="fa-solid fa-circle-check"></i>
          </div>
          }
          
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  

</ion-content>